@import "nord.css";

/* Global */
* {
    border: none;
    font-family: Fira;
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

/* Transparent bar */
window#waybar {
    background: rgba(46, 52, 64, 0);
}

/* Tool tip */
tooltip {
    background: @dark0;
}
tooltip label {
    color: @frost0;
}

/* Common */
#cpu,
#memory,
#disk,
#network,
#window,
#tray,
#battery,
#pulseaudio,
#clock {
    background: @dark0;
    color: @frost0;
    margin: 16px 0px 0px 0px;
    padding: 8px 16px 8px 16px;
}

/* Curved left corners */
#cpu, #tray, #battery {
    border-radius: 16px 0px 0px 16px;
    margin-left: 16px;
}

/* Curved middle */
#window {
    border-radius: 16px 16px 16px 16px;
}

/* Curved right corners */
#network, #clock {
    border-radius: 0px 16px 16px 0px;
    margin-right: 16px;
}

/* Network colours */
#network.disabled,
#network.disconnected {
    color: @red;
}

/* Battery colours */
#battery.warning {
    color: @yellow;
}
#battery.critical {
    color: @red;
}

/* Audio colours */
#pulseaudio.muted {
    color: @red;
}
#pulseaudio.source-muted {
    color: @red;
}
